<body> 
<div id="video_baackgound">
    <video autoplay muted loop>
        <source src="assets/digital_rain.mp4"> 
    </video>

</div>
    <span id="programing">
        <ul>
        <li> 
            <a href=" https://web2-course-project-fnt-manish.herokuapp.com/index.html" target="_blank"> <p>ES6</p> </a>
        </li>
        <li>
            <a href=" https://instagram-app-a7220.web.app" target="_blank">   <p>angular.js</p> </a>
        </li>
        <li>
            <a href="https://react-taak-manish.web.app/" target="_blank">   <p>react.js</p></a>
        </li>
        <li>
            <a href=" https://web2-course-project-fnt-manish.herokuapp.com/index.html" target="_blank">  <p>vue.js</p> </a>
        </li>
    </ul>
  
    </span>
   

</body>
