<nav>
    <ul class="nav justify-content-center">
        <li class="nav-item">
            <a routerLink="programing" class="nav-link active" aria-current="page" href="#">  Programming </a>
        </li>
        <li class="nav-item">
            <a routerLink="design"class="nav-link active" aria-current="page" href="#">   Design </a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">  Video Editing </a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">  About me </a>
        </li>
    </ul>
</nav>
